.list-photo {
  background-size: cover;
  background-position: center;
  height: 56vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 4px;
}

.movie-name {
  font-size: 24px;
  font-weight: normal;
}

.show-list{
  margin-bottom: 1vh;
}
